/* Start Global R.main-naves */
* , *::before , *::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
.special-title {
    display: block;
    text-align: center;
    color: #000;
    font-size: 31px;
    border: 2px solid #000;
    width: fit-content;
    padding: 10px 30px;
    margin: 0 auto 80px;
    z-index: 2;
    position: relative;
    transition: var(--transition-time);
    transition-delay: .3s;
    margin-bottom: 80px;
    text-transform: uppercase;
}
.special-title:hover {
    color: #fff;
    border: none;
}
.special-title::before {
    content: '';
    position: absolute;
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--main-color);
    z-index: -1;
    transition: var(--transition-time);
}   
.special-title:hover::before {
    left: 0px;
    border-radius: 0;
    height: 100%;
    width: 50%;;
}
.special-title::after {
    content: '';
    position: absolute;
    right: -40px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--main-color);
    z-index: -1;
    transition: var(--transition-time);
}
.special-title:hover::after {
    right: 0px;
    border-radius: 0;
    height: 100%;
    width: 50%;;
}   
/* End Global R.main-naves */
/* Start ScrollBar */
::-webkit-scrollbar {
    width: 15px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
/* End ScrollBar */
/* Variables */
:root {
    --main-color: #289af3;  
    --text-color: #666;
    --section-color: #ececec;
    --red: #f44036;
    --green: #009688;
    --blue: #03a9f4;
    --yellow: #ffc107;
    --section-padding: 100px;
    --transition-time: .5s ;
}
/* Font for all elements */
body {
    font-family: 'Cairo', sans-serif;
    counter-reset: services-counter;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/* Responsive */
/* Miduim Screens */
@media (min-width: 768px){
    .container {
        width: 750px;
    }
}
/* Large Screens */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* XLarge Screens */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* Start Header */
header {
    position: relative;
    box-shadow: 0 0 10px #ddd;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
/* Mobile Screen */
@media (max-width: 767px) {
    header .container {
        justify-content: center;
    }
}
header .logo {
    font-size: 25px;
    font-weight: bold;
    color: var(--main-color);
    text-transform: uppercase;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Mobile Screen */
@media (max-width: 767px) {
    header .logo {
        width: 100%;
        height: 50px;
    }
}
header .main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
header .main-nav > li > a{
    display: block;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    padding: 0 30px;
    text-transform: capitalize;
    font-size: 18px;
    position: relative;
    transition: var(--transition-time);
    overflow: hidden;
}
/* Mobile Screen */
@media (max-width: 776px) {
    header .main-nav > li > a {
        height: 50px;
        padding: 0 10px;
    }
}
header .main-nav > li > a:hover{
    color: var(--main-color);
    background-color: var(--section-color);
}
header .main-nav > li > a::before{
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    top: 0;
    left: -100%;
    background-color: var(--main-color);
    transition: var(--transition-time);
}
header .main-nav > li > a:hover::before{
    left: 0;
}
/* Start Megamenu */
header .container .main-nav li:hover .mega-menu {
    opacity: 1;
    z-index: 2;
    top: 100%;
}
header .container .main-nav .mega-menu {
    position: absolute;
    top: calc(100% + 50px);
    left: 0;
    background-color: #fff;
    width: 100%;
    border-bottom: 4px solid var(--main-color);
    z-index: -2;
    opacity: 0;
    transition: top var(--transition-time) , opacity var(--transition-time);
    display: flex;
    gap: 40px;
    padding: 30px;
}
header .container .main-nav .mega-menu .image img{
    max-width: 100%
}
/* Moblile and Ipad  Screen */
@media (max-width: 992px) {
    header .container .main-nav .mega-menu .image img{
        display: none;
    }
}
/* Mobile Screen */ 
@media (max-width: 767px) {
    header .container .main-nav .mega-menu {
        flex-direction: column;
        gap:0;
        padding: 0px;
    }
    header .container .main-nav .mega-menu .links a {
        text-align: start;
    }
}
@media (max-width: 992px) {
    header .container .main-nav .mega-menu {
        justify-content: center;
        align-items: center;
    }
    header .container .main-nav .mega-menu .links a {
        width: 300px
    }
}
header .container .main-nav .mega-menu .links li{
    border-bottom: 1px solid #ddd;
    position: relative;
    overflow: hidden;
}
header .container .main-nav .mega-menu .links li::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: -100%;
    background-color: #e9e6e6;
    z-index: -1;
    transition: var(--transition-time);
}
header .container .main-nav .mega-menu .links li:hover::before {
    left: 0;
}
header .container .main-nav .mega-menu .links a{
    display: block;
    padding: 20px;
    color: var(--main-color);
    text-transform: 21px;
    min-width: 250px;
}
header .container .main-nav .mega-menu .links a i{
    margin-right: 10px;
    font-size: 18px;
}
/* End Megamenu */
/* End Header */
/* Start Landing */
.landing {
    position: relative;
    overflow: hidden;
}
.landing::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top:-80px;
    left: 0;
    background-color: var(--section-color);
    z-index: -24;
    transform: skewY(-6deg) ;
}
.landing .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 62px);
    padding-bottom: 100px;
}
/* Ipad Screnn */
@media (max-width: 992px) {
    .landing .container {
        flex-direction: column;
    }
    .landing .container .text {
        padding-bottom: 20px;
        text-align: center;
    }
    header .main-nav > li > a {
        height: 72px;
    }
    header .logo {
        height: 72px;
    }
}
/* Mobile Screen */
@media (max-width: 767px) {
    .landing .container .text {
        text-align: center;
    }
}
.landing .container .text h1{
    font-weight: 700;
    text-transform: capitalize;
    font-size: 38px;
    margin-bottom: 10px;
}
.landing .container .text p{
    font-size: 24px;
    line-height: 1.8;
    color: var(--text-color);
    max-width: 500px;
    margin-top: 0;
}
.landing .container .image img{
    width: 600px;
    max-width: 100%;
    position: relative;
    animation: up-and-down 4s infinite linear;
}
/* Mobile Screen */
@media (max-width: 767px) {
    .landing .container .image img{
        display: none;
    }
}
.landing .container .go-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    animation: go-down-anem 2s infinite;
}
.landing .container .go-down i{
    font-size: 27px;
    color: var(--main-color);
}
.landing .container .go-down i:hover{
    opacity: .7;
}
/* End Landing */
/* Start Articles */
.articles {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}
.articles .content {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
    gap: 40px;
}
.articles .content .box{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px #ddd;
    min-height: 350px;
    transition: var(--transition-time);
}
.articles .content .box:hover{
    transform: translateY(-10px);
}
.articles .content .box img{
    max-width: 100%;;
}
.articles .content .box h4{
    padding: 0 20px;
    font-size: 18px;
    margin-bottom:0;
}
.articles .content .box p{
    font-size: 16px;
    padding: 0 20px;
    color: var(--text-color)
}
.articles .content .box .link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-top: 1px solid #ddd;
}
.articles .content .box .link a{
    color: var(--main-color);
    font-size: 16px;
    font-weight: 800;
}
.articles .content .box .link i {
    color: var(--main-color);
    font-size: 16px;
}
.articles .content .box:hover .link i {
    animation: click-me 1s infinite;
}
/* End Articles */
/* Start Gallery */
.gallery {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-color);
    position: relative;
}
.gallery::before {
    background: 
    linear-gradient(135deg, #fff 16px, transparent 0), 
    linear-gradient(226deg, #fff 16px, transparent 0);
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 32px 32px;
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 32px;
}
.gallery .container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap :40px;
}
.gallery .container .box {
    padding: 15px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 0 10px #ddd;
}
.gallery .container .box .image {
    position: relative;
    overflow: hidden;
}
.gallery .container .box .image::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: #ffffff66;
    width: 0;
    height: 0;
    z-index: 99;
    opacity: 0;
}
.gallery .container .box .image:hover::before {
    animation: flash .7s;
}
.gallery .container .box .image img{
    max-width: 100%;
    transition: var(--transition-time);
}
.gallery .container .box .image img:hover{
    transform: rotate(5deg) scale(1.1);
}
/* End Gallery */
/* Start Features */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    background-color: #fff;
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 40px;
}
.features .container .box{
    box-shadow: 0 0 10px  #ddd;
    text-align: center;
    border:2px solid #CCC;
}
.features .container .box .image{
    position: relative;
    width: 100%;
    overflow: hidden;
    transition: all var(--transition-time);
} 
.features .container .box .image::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 2;
    opacity: .5;
}
.features .container .box:nth-child(1) .image:before{
    background-color: var(--red);
}
.features .container .box:nth-child(2) .image::before{
    background-color: var(--green);
}
.features .container .box:nth-of-type(3) .image::before{
    background-color: var(--blue);
}
.features .container .box .image::after{
    border: 100px 100px 100px 100px;
    content: "";
    position: absolute;
    bottom: 0px;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 150px 500px;
    border-color: transparent  transparent #fff transparent;
    z-index: 22;
    transition: .4s;
}
.features .container .box:hover .image::after{
    border-width: 180px 500px;
}
.features .container .box .image img{
    max-width: 100%;
}
.features .container .box .content {
    padding: 30px;
}
.features h4 {
    font-size: 35px;
    position: relative;
    width: fit-content;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}
.features h4::after {
    content: '';
    width: 80%;
    height: 5px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.features .container .box:nth-of-type(1) h4:after { background-color: var(--red); }
.features .container .box:nth-of-type(2) h4:after { background-color: var(--green); }
.features .container .box:nth-of-type(3) h4:after { background-color: var(--blue); }
.features .container .box p {
    line-height: 1.8;
    color: var(--text-color);
    font-size:18px;
}
.features .container .box a {
    display: block;
    border: 3px solid transparent;
    width: fit-content;
    margin: 0 auto 30px;
    font-weight: bold;
    font-size: 22px;
    padding: 10px 30px;
    border-radius: 6px;
    transition: var(--transition-time);
}
.features .quality {
    color: var(--red);
    background: linear-gradient(to right, var(--red) 50%, white 50%);
    background-size: 200% 100%;
    background-position: right top;
    border-color: var(--red) !important;
}
.features .box:hover .quality {
    background-position: left top;
    color: white;
}
.features .time {
    color: var(--green);
    background: linear-gradient(to right, var(--green) 50%, white 50%);
    background-size: 200% 100%;
    background-position: right top;
    border-color: var(--green) !important;
}
.features .box:hover .time {
    background-position: left top;
    color: white;
}
.features .passion {
    color: var(--blue);
    background: linear-gradient(to right, var(--blue) 50%, white 50%);
    background-size: 200% 100%;
    background-position: right ;
    border-color: var(--blue) !important;
}
.features .box:hover .passion {
    background-position: left top;
    color: white;
}
/* End Features */
/* Start Testimonials */
.testimonials {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    background-color: var(--section-color);
}
.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(350px , 1fr));
    gap: 40px;
    margin-top: 140px;
}
/* Mobile Screens */
@media (max-width: 767px) {
    .testimonials .container {
        grid-template-columns: repeat(auto-fill , minmax(200px , 1fr));
    }
    .testimonials .box .image img{
        width: 100px !important;
        right: -10px !important;
    }
}
/* Ipad Screen */
@media (max-width: 992px) {
    .testimonials .container {
        grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
    }
    .testimonials .box .image img{
        right: -10px !important;
    }
}
.testimonials .box {
    position: relative;
    background-color: #fff;
    padding:0 30px;
    margin-bottom: 40px;
    box-shadow: 0 0 10px #ddd;
    border-radius: 6px;
}
.testimonials .box .image img{
    max-width: 100%;
    width: 120px;
    position: absolute;
    top: -70px;
    right: -40px;
    border-radius: 50%;
    border: 10px solid var(--section-color);
}
.testimonials .box h5 {
    font-weight: 900;
    font-size: 18px;
    margin: 30px 0 0;
}
.testimonials .box p {
    color: var(--text-color);
    font-size: 14px;
    line-height: 1.1;
}
.testimonials .box .stars {
    display: flex;
    align-items: center;
}
.testimonials .box .stars li{
    margin:0 2px;
}
.testimonials .box .stars i{
    color: var(--yellow);
}
/* End Testimonials */
/* Start Team-Member */
.team-members {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}
.team-members .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap : 30px;
}
.team-members .container .box {
    position: relative;
    overflow: hidden;
}
.team-members .container .box::before , .team-members .container .box::after {
    content: '';
    position: absolute;
    top: 0;
    right:0;
    height: 100%;
    border-radius: 10px;
    transition: var(--transition-time);
}
.team-members .container .box::before {
    z-index: -2;
    width: calc(100% - 60px);
    background-color: var(--section-color);
}
.team-members .container .box::after {
    right: -100%;
    background-color: black;
    z-index: -1;
    opacity: .3;
}
.team-members .container .box:hover::after {
    width: calc(100% - 60px);
    right: 0;
}
.team-members .container .box .content{
    padding-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.team-members .container .box img{
    width: calc(100% - 60px);
    border-radius: 10px;
    transition: var(--transition-time);
}
.team-members .container .box:hover img{
    filter: grayscale(100%);
}
.team-members .container .box .icons{
    display: flex;
    flex-direction: column;
}
.team-members .container .box .icons a{
    margin-top:15px;
    color: var(--text-color);
    transition: var(--transition-time);
}
.team-members .container .box .icons a:hover{
    color:var(--main-color);
}
.team-members .container .box .icons i{
    font-size: 16px;
}
.team-members .container .text {
    padding-left: 80px;
    padding-bottom: 40px;
}
.team-members .container .text h4 {
    font-size: 21px;
    color: var(--main-color);
    font-weight: bold;
    margin-bottom: 0;
    transition: var(--transition-time);
}
.team-members .container .box:hover .text h4 {
    color: var(--text-color);
}
.team-members .container .text p {
    color: var(--text-color);
    font-size: 18px;
}
/* End Team-Members */
/* Start Sevices */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    background-color: var(--section-color);
}
.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 30px;
}
.services .container .box {
    background-color: #fff;
    position: relative;
    padding:30px 0 0;
    text-align: center;
    box-shadow: 0 0 10px #ddd;
    transition: var(--transition-time);
}
.services .container .box::before {
    content: '';
    position: absolute;
    top: 0 ;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--main-color);
    height: 4px;
    width: 0;
    transition: var(--transition-time);
}
.services .container .box:hover::before {
    width: 100%;
}
.services .container .box:hover {
    transform: translateY(-10px);
}
.services .container .box i {
    color: var(--text-color);
}
.services .container .box h3 {
    color: var(--main-color);
    font-size: 25px;
    margin-top: 20px 0 40px;
}
.services .container .box .link {
    position: relative;
    padding: 15px;
    background-color: #f9f9f9;
}
.services .container .box .link::before {
    counter-increment: services-counter;
    content: '0' counter(services-counter);
    position: absolute;
    top: 0;
    left: 0;
    font-size: 27px;
    color:#fff;
    background-color: var(--main-color);
    height: 100%;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}
.services .container .box .link::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 71px;
    background-color: #d5d5d5;
    width: 40px;
    height: 100%;
    transform: skew(20deg, 1deg);
}
.services .container .box .link a {
    text-align: right;
    display: block;
    padding-right: 10px;
    font-size: 16px;
    color: var(--main-color);
    font-weight: 600;
}
/* End Sevices */
/* Start Our-Skills */
.our-skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}
.our-skills .container {
    display: flex;
    align-items: center;
    position: relative;
}
@media (max-width: 992px ){
    .our-skills .container img {
        display: none;
    }
}
.our-skills .container .skills {
    flex: 1;
}
.our-skills .skills h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.our-skills .skills h3 span {
    color: var(--main-color);
    padding: 3px 3px;
    border: 1px solid #aaa;
    font-size: 12px;
    border-radius: 6px;
}
.our-skills .skills .skill .progres-holder {
    height: 30px;
    background-color: #eee;
    position: relative;
}
.our-skills .skills .skill .progres-holder span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--main-color);
}
/* End Our-Skills */
/* Start Animation */
/* Animation up and down */
@keyframes up-and-down {
    0% , 100% {     
        top: 0;
    }
    50% {
        top: -50px;
    }
}
/* Animation go-down */
@keyframes go-down-anem {
    0% , 10% , 20% , 40% , 60% , 70% , 90% , 100% {
        transform: translateY(0);
    }
    30% , 50% {
        transform: translateY(-10px);
    }
}
@keyframes click-me {
    0% , 100% {
        transform: translateX(0);
    }
    50% {
        transform:translateX(10px);
    }
}
@keyframes flash {
    0% , 40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}
/* End Animation */